<h1> Enter Your Favorite Music Artist and Why</h1>
<%= simple_form_for @artist do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <br />
  <%= f.submit 'Submit' , class: 'btn btn-danger' %>
<% end %>