@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import "bootstrap";

.clear {
  clear: both;
}

/* At first let's give some style*/
body{
  background: #fff;
  color: #40e0d0;
}

/* font-size, positioning, visibility*/
p{
  font-size: 25px;
  margin: 10px;
  white-space:nowrap;
  overflow: auto;
  width: 30em;
  animation: type 5s steps(50, end) 1;
  font-family: 'amaranthregular' , sans-serif;  
}

/* let's animate, it's super easy */
@keyframes type{
  from{ width: 0;}
}
/*looks like something is wrong, Fixed!!! */

/*let's make it more realistic, so I added span tag, let's animate span*/
span{
  animation: blink 1s infinite;
}

@keyframes blink{
  to{ opacity: .0;}
}

/*That's it. Enjoy!!! :) */


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #35e3cd;
  -webkit-box-shadow: 1px 1px 2px 0 #35e3cd;
  box-shadow: 1px 1px 2px 0 #35e3cd;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #77f0e1 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

.links {
  padding-top: 20px;
}

.links a {
  color: #40e0d0;
  font-size: 25px;
  border-bottom: 1px solid #1b9387;
  font-family: 'amaranthregular' , sans-serif;
  position: absolute;
}

h1 {
  font-family: 'amaranthregular' , sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-family: 'amaranthregular' , sans-serif;
}

body {
  background: image_url('darkbg.png');
}

.addartist {
  text-align: center;
}

.footer{
  background-color: #2e2e2e;
  box-shadow: 0px 0px 1px #2a2a2a;
}

.navbar {
   box-shadow: 0px 1px 3px #00cc99;
}

@media (max-width: 750px) {
  .footer {
  text-align: left;
  }
}

.next-artist {
  color: #40e0d0;
  font-family: 'amaranthregular' , sans-serif;
}

.next-song {
  color: #40e0d0;
  font-family: 'amaranthregular' , sans-serif;
}